.DS_Store
node_modules
/build
/.firebase
/.svelte-kit
/package
.env
.env.*
.firebaserc
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Test output
/test-results
/playwright-report
*-debug.log
